.about {
    background-color: var(--greenMist);
    min-height: 100vh;
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
}

.aboutContent {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin: 3rem;
}