@media screen and (max-width: 800px) {
    nav {
        justify-content: center;
    }
    nav .nav__text-links li a {
        font-size: 3rem;
    }

    .about h2 {
        font-size: 15vw;
    }

    .about__bio {
        width: 90%;
        padding-left: 0;
    }

    .skills h2 {
        font-size: 15vw;
    }

    .skills__content h6 {
        font-size: 3rem;
    }

    .projects h2 {
        font-size: 15vw;
    }

    .projects .projects__content .project__item {
        width: 40%;
    }
}

@media screen and (max-width: 450px) {
    nav .nav__text-links li a {
        margin: 1.4rem 0.5rem 0.5rem 0.5rem;
        padding: 0 0.5rem 0.7rem 0.5rem;
    }

    h1 {
        font-size: 22vw;
    }

    .tag {
        font-size: 9vw;
    }
    
    .about img {
        height: 15rem;
        width: auto;
    }

    .projects .projects__content .project__item {
        width: 70%;
    }
}