nav {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-between;
}

nav .textLinks {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    padding-left: 0.5rem;
    margin-top: 3rem;
}

nav .textLinks li {
    list-style: none;
}

nav .textLinks li a:link {
    text-decoration: none;
}

nav .textLinks li a {
    margin: 1.4rem 1rem 1rem 1rem;
    padding: 0 0.5rem 0.5rem 0.5rem;
    list-style: none;
    font-size: 5vw;
    line-height: 0%;
    color: var(--silver);
    background-color: var(--purpleMist);
    border-radius: 6%;
    font-family: 'Pixels', 'Trebuchet MS';
}

nav .textLinks li a:hover {
    background-color: var(--purple);
}

nav .imageLinks {
    display: flex;
    flex-flow: row wrap;
}

nav .imageLinks li {
    margin: 0rem 0.5rem 0.5rem 0.5rem;
    padding: 1rem;
    list-style: none;
}

nav .imageLinks svg {
    height: 3rem;
    width: auto;
    opacity: 0.8;
}

nav .imageLinks svg:hover {
    opacity: 1;
}