.projects {
    background-color: var(--purpleMist);
    /* width: 98vw;
    height: 97.5vh; */
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
}

.projectsContent {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin: 3rem;
}

.projects .projectsContent .project {
    width: 25%;
    margin: 1rem;
    padding: 0.8rem;
    border-left: 2px solid var(--green);
    border-top: 2px solid var(--green);
    border-top-left-radius: 6%;
}

.projects .projectsContent .project h6 {
    font-family: 'Pixels', 'Georgia';
    font-size: 3rem;
    line-height: 50%;
    margin: 0;
    text-align: center;
}