.projects {
    background-color: var(--darkGrey);
    width: 98vw;
    height: 97.5vh;
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
}

.projectsContent {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    margin: 3rem;
}

.projectsContent h6 {
    font-family: 'Pixels', 'Georgia';
    font-size: 4rem;
    line-height: 50%;
    color: var(--silver);
    margin: 2rem;
    text-align: center;
}