.skills {
    background-color: var(--darkGrey);
    min-height: 100vh;
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
}

.skillsContent {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    margin: 3rem;
}

.skillsContent h6 {
    font-family: 'Pixels', 'Georgia';
    font-weight: lighter;
    font-size: 4rem;
    line-height: 50%;
    color: var(--silver);
    margin: 2rem;
    text-align: center;
}