@font-face {
    font-family: 'Andika';
    src: url(fonts/Andika.ttf);
}

@font-face {
    font-family: 'Cameo';
    src: url(fonts/CameoAppearance.ttf);
}

@font-face {
    font-family: 'Pixels';
    src: url(fonts/Pixels.ttf);
}

* {
    font-family: 'Andika', 'Trebuchet MS';
}

h1 {
    text-align: center;
    font-weight: lighter;
    color: var(--green);
    font-family: 'Cameo', 'Georgia';
    margin: 0;
    padding: 0;
    font-size: 15vw;
    text-shadow: 5px 5px var(--darkGrey);
}

.tag {
    text-align: center;
    font-family: 'Pixels', 'Georgia';
    font-style: italic;
    color: var(--darkGrey);
    font-size: 6vw;
    margin: 0;
    padding: 0;
}

.about h2 {
    text-align: center;
    font-weight: lighter;
    color: var(--darkGrey);
    font-family: 'Cameo', 'Georgia';
    margin: 0;
    padding: 0;
    font-size: 10vw;
    text-shadow: 5px 5px var(--purple);
}

.skills h2 {
    text-align: center;
    font-weight: lighter;
    color: var(--purple);
    font-family: 'Cameo', 'Georgia';
    margin: 0;
    padding: 0;
    font-size: 10vw;
    text-shadow: 5px 5px var(--greenMist);
}

.projects h2 {
    text-align: center;
    font-weight: lighter;
    color: var(--green);
    font-family: 'Cameo', 'Georgia';
    margin: 0;
    padding: 0;
    font-size: 10vw;
    text-shadow: 5px 5px var(--grey);
}

.aboutBio .cvSentence {
    font-size: 0.95rem;
} 